@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital@1&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --lightBlue: #d2d8e4;
  --tanBrown: #a15d28;
  --color2:#fff8ef; 
  --white: #ffffff;
}

body{
  background-color:#daa975;
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
}


.App .box-1{
  margin-top: 35%;
  background-color: rgb(255, 249, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 450px;
  width: 350px;
}

.box-1 .profile-pic img{
  width:35%;
  margin-bottom: -34%;
  border-radius: 50%;
  margin-left: 33%;
  border-color: lightblue;
}

.box-1 .buttons button{
  background-color:var(--tanBrown);
  color: var(--color2);
  width: 100px;
  padding: 4%;
  border-radius: 30px;
  border:none;
  margin-right: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;

}

.tech{
  color:var(--tanBrown);
  font-size: 30px;
  margin-top: 39%;

}

.buttons{
  margin-top: 10%;
  margin-bottom: 2%;
}

.likes{
  margin-top: 3%;
}
.likes button{
  background-color:rgb(255, 249, 236);
  border:none
}

.likes{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.heart{
  color:var(--tanBrown);
}

.twitter{
  color: var(--tanBrown);
}

.twitter-bttn button{
  background-color: white;
  border:none
}